.main
    width 1200px
    height 1000px
    margin-left auto
    margin-right auto
    background-color white
.logo
    padding-top 20px
    img
        width 250px
        display block
        margin auto
    p
        text-align center
        font-size 15px