
border-radius(n)
    -webkit-border-radius n
    -moz-border-radius n
    border-radius n

.selection
    margin-top 50px
    display flex
    flex-wrap wrap
    justify-content center
    align-items center
    a
        text-decoration none
        &:not(:first-child)
            margin-top 20px
        div
            width 700px
            height 70px
            line-height 70px
            font-size 30px

