.tabla {
  padding-top: 50px;
  width: 1200px;
  margin: 0px auto 0px auto;
}
table td:nth-child(1) {
  width: 100px;
}
table td:nth-child(2) {
  width: 200px;
}
table td:nth-child(3) {
  width: 300px;
}
table,
table td {
  margin: 0 auto;
  border: 1px solid #000;
  border-collapse: collapse;
}
td {
  text-align: center;
  vertical-align: middle;
}
